<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="TestConnectionString" connectionString="Data Source=7be2b890-deb6-44f5-9f90-a246003ccf64.sqlserver.sequelizer.com;Initial Catalog=db7be2b890deb644f59f90a246003ccf64;User ID=tfqeghqriwvoqiuf;Password=FpDYktBrUaQvv35urZE32QpSauw7efnvNyKBCM4AUvxpKrtz6EqVV4tYaTXY6CmP" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />

    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms name="TESTFORMAUTH" loginUrl="~/Login.aspx" cookieless="AutoDetect" timeout="5760" />
    </authentication>

    <membership defaultProvider="TEST_MembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="SHA1">
      <providers>
        <add name="TEST_MembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="TestConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="WebApplication1" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>

    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="TESTROLES" defaultProvider="TEST_RoleProvider" cookieTimeout="5760">
      <providers>
        <add connectionStringName="TestConnectionString" applicationName="WebApplication1" name="TEST_RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>

  </system.web>
</configuration>